<head>
    <meta charset="UTF-8">
    <title>DataTable Example</title>
        <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

      <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  	<script
  src="http://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>


</head>
<body>
    <a href="/admin" class="btn btn-primary">Dashboard</a>
    <button id="showdata">Show Customer Data</button>
    <table id="show" border="2">
    </table>
    <thead>
    <td>edu</td><td>exp</td><td>name</td>
    <td>empcode</td>
    </thead>
    <script>
    var myData
    $(document.body).on('click',"#showdata",function (e) {

        console.log("hello")
        var table;
        var xyz="test"
                     $.ajax({type:"GET",
                            url:"/showalll",
                         success: function(result){
                                    myData = result
                             console.log(myData)
                             //alert(myData)
                             if(myData !=null || myData !=""){

                                table = $('#show').DataTable( {
                                    data: myData ,destroy: true,
                                    columns: [
                                        { data: "id" },
                                        { data: "name" },
                                        { data: "phone" },
                                        { data: "address" },
                                        { data: "quantity" },
                                        { data: "price" },
                                        { data: "status" },
                                        { data: "date_column" },
                                    ]
                                } );
                            }

                      }});
    });


</script>
</body>
</html>