<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <form action="/Confirm" method="post">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_51NQyCPJoJLLxswUmZGBB0K0QKXIehFXPVzG7dPiSPOR045U2a6bhiUoLk9ksWVY7xEWX0PNr77RqMrGBJzjWqfWu00Kv5AY4B4"
            data-description="Order Payment"
            data-amount={{payment}}
            data-locale="auto">

        </script>

</form>

</body>
</html>